<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dicoding.picodiploma.netfilm">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NetFilm"
        tools:ignore="AllowBackup">
        <activity
            android:name=".ui.favorite.FavoriteActivity"
            android:label="@string/title_activity_favorite"
            android:theme="@style/Theme.Favorite" />
        <activity
            android:name=".ui.detail.DetailTvShowActivity"
            android:label="@string/title_activity_detail_tvshow"
            android:parentActivityName=".ui.home.HomeActivity"
            android:theme="@style/Theme.NetFilm.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.home.HomeActivity" />
        </activity>
        <activity
            android:name=".ui.detail.DetailMovieActivity"
            android:label="@string/title_activity_detail_movie"
            android:parentActivityName=".ui.home.HomeActivity"
            android:theme="@style/Theme.NetFilm.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.home.HomeActivity" />
        </activity>
        <activity android:name=".ui.home.HomeActivity" />
        <activity
            android:name=".ui.home.PreHomeActivity"
            android:theme="@style/Theme.NetFilm.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>